.inner-div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  .back-of-credit-card {
    width: 70%;
  }
  .cvc-input {
    position: absolute;
    top: 6rem;
    right: 3.5rem;
    width: 3rem;
    border: none;
    height: 2.1rem;
    background-color: #d0d0dd;
    color: #fff;
    opacity: .8;
    font-family: 'Space Grotesk';
  }

  .cvc-input::placeholder {
    color: #fff;
    opacity: .5;
  }
}
