.btn {
  width: 100%;
  text-align: center;
  background-color: #210a2f;
  color: #fff;
  border: none;
  padding: 2rem 0;
  border-radius: .6rem;
  font-size: 1.8rem;
  font-family: 'Space Grotesk';
}