.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  height: 50rem;
  background: url("../../images/bg-main-mobile.png") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.bottom {
  background-color: #fff;
  padding: 8rem 3rem 1rem 2rem;
}