.front-of-credit-card-container {
  font-family: 'Space Grotesk';
  position: absolute;
  bottom: -4.5rem;
  margin-left: 1.5rem;
  width: 80%;
  color: #fff;
  .front-of-credit-card {
    width: 100%;
  }

  .front-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .top-details {
      display: flex;
      align-items: center;
      padding: 10px;
      .circle {
        margin: 0 8px;
        border-radius: 50%; 
        border: 1px solid #fff;
      }

      .big-circle {
        height: 35px;
        width: 35px;
        background-color: #fff;
      }

      .small-circle {
        height: 15px;
        width: 15px;
      }
    }

    .bottom-details {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      font-family: 'Space Grotesk';
      .card-number {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        font-size: 21px;
        color: #fff;
        letter-spacing: 2px;
        font-family: 'Space Grotesk';
      }
      ::placeholder {
        font-family: 'Space Grotesk';
        color: #fff;
        opacity: .5;
      }

      .name-date-div {
        display: flex;
        .card-name {
          font-size: 10px;
          letter-spacing: 1px;
          width: auto;
          outline: none;
          padding: 1rem 0;
          background-color: transparent;
          border: none;
          color: #fff;
          font-family: 'Space Grotesk';
          outline: none;
          flex: 9;
        }

        .dates {
          display: flex;
          align-items: center;
          flex: 1;
          span {
            font-size: 1.5rem;
            color: #fff;
            opacity: .5;
          }
          .card-date {
            background-color: transparent;
            border: none;
            color: #fff;
            font-family: 'Space Grotesk';
            outline: none;
            letter-spacing: .3rem;
            width: 2.5rem;
          }
        }

      }
    }
  }
}